.row-details:nth-child(odd) {
  background-color: white;
}

.row-details:nth-child(even) {
  background-color: #e6e6e6;
}

.row-details .row .col {
  border: 1px solid gray;
}

.row-heading .col {
  border: 1px solid gray;
  background: lightcyan;
}

.row-heading .col {
  border: 1px solid gray;
  background: lightgoldenrodyellow;
  padding: 10px;
  border-radius: 5px;
}

.input-field {
  border: 1px;
  background: #3494e6;
  background: -webkit-linear-gradient(to right, #ec6ead, #3494e6);
  background: linear-gradient(to right, #ec6ead, #3494e6);
}

.table-img img {
  width: 80px;
  height: 80px;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.preloader p {
  font-size: 2rem;
  margin-top: 12px;
  padding: 20px;
}

.nlink {
  display: flex;
  justify-content: space-between;
}

.text-center span {
  color: lime;
}

.action_btns {
  display: grid;
  gap: 6px;
  padding: 10px;
  background-color: white;
}

/* .row-details .row:hover {
  background: #e6e6e6;
} */

/* edit modal popup */
.modal_inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dlt_modal_btn {
  display: flex;
  justify-content: center;
}

.dlt_modal img {
  margin-left: 130px;
  width: 50%;
  height: 50%;
}

.dlt_modal .modal-body {
  text-align: center;
}
