.row-details:nth-child(odd) {
  background-color: white;
}

.row-details:nth-child(even) {
  background-color: #e6e6e6;
}

.row-details .row .col {
  border: 1px solid gray;
}

.row-heading .col {
  border: 1px solid gray;
  background: lightcyan;
}

.row-heading .col {
  border: 1px solid gray;
  background: lightgoldenrodyellow;
  padding: 10px;
  border-radius: 5px;
}

.input-field {
  border: 1px;
  background: #3494E6;  
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  
  background: linear-gradient(to right, #EC6EAD, #3494E6); 
  }

.table-img img {
  width: 80px;
  height: 80px;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.preloader p {
  font-size: 2rem;
  margin-top: 12px;
  padding: 20px;
}

.nlink {
  display: flex;
  justify-content: space-between;
}

.text-center span{
  color: lime;
}

/* .row-details .row:hover {
  background: #e6e6e6;
} */
